Credit EDA/.ipynb_checkpoints/
Credit EDA/venv/
Credit EDA/application_data_cleaned.csv
Credit EDA/previous_application.csv
Credit EDA/application_data.csv
Hate speech/jbooks/.ipynb_checkpoints/
Hate speech/jbooks/venv/
Heart mortality rate prediction/.ipynb_checkpoints/
Heart mortality rate prediction/venv/